*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#logo{
    height: 50px;
}
header{
    height: 15vh;
}
main{
    min-height: 65vh;
}
.cards{
    width: 16rem;
    border-radius: 15px;
    margin: 10px;
    height: 350px;

}
.cardPhotos{
    border-radius: 10px;
    margin-bottom: 5px;
}
#museum{
    object-fit: contain;
    min-height: 5px;
}
form{
    padding: 25px;
}
.icons{
    width: 50px;
    height: 50px;
}
footer{
    padding: 10px;    
}
.contact{
    width:  45vw;
}
#msg{
    height: 15vh;
}
#submit{
    width: 5vw;
    margin-top: 10px;
}
.books{
    width: 40vw;
}
tbody{
    width: 800px;
}
table{
margin-right: 600px;
}
th{
    width: 500px;
    padding: 10px;
}
tr{
    border: 2px solid white;
    padding: 10px;
    width: 500px;
}
td{
    border: 2px solid white;
    padding: 10px;
    width: 300px;
}


@media (min-width:320px) and (max-width:767px){
    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    form{
        width: 250px;
        flex-direction: column;
        }
        fieldset{
            display: flex;
            flex-direction: column;
        }
    }
    .card{
        padding: 10px;
        border: none;
        background-color: #212529;   
    }
    #submit{
        width: 50px;
    }
    table{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap ;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
    tr{
        width: 200px;
    }

@media (min-width:768px) and (max-width:1023px){
    #cardcolumn{
        flex-direction: column;
    }
    .card{
        padding: 10px;
        border: none;
        background-color: #212529;
        width: 500px ;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

